.css-9npbnl-MuiFormLabel-root-MuiInputLabel-root {
  font-family: 'YuGothic', sans-serif !important;
  font-size: 15px !important;
  font-weight: 700;
}

.update_btn {
  width: 170px;
  font-size: 20px !important;
  padding: 3px 25px !important;
  margin-top: 20px !important;
  border-radius: 1px !important;
  font-family: 'YuGothic', sans-serif !important;
  margin-top: 20px !important;
}