.css-9npbnl-MuiFormLabel-root-MuiInputLabel-root {
  font-family: 'Yu Gothic', 'YuGothic', sans-serif !important;
  font-size: 14px !important;
  font-weight: 700;
}

.confirm_btn {
  padding: 5px 30px !important;
  font-size: 20px !important;
  font-family: 'YuGothic', sans-serif !important;
  border-radius: 1px !important;
}

.css-ahj2mt-MuiTypography-root {
  font-family: YuGothic !important;
}

.css-vqmohf-MuiButtonBase-root-MuiRadio-root {
  padding: 5px !important;
}

.css-1c1s55e-MuiFormControlLabel-root .MuiFormControlLabel-label {
  font-family: YuGothic !important;
  font-size: 15px !important;
  font-weight: 600 !important;
}

.css-1hbvpl3-MuiSvgIcon-root,
.css-11zohuh-MuiSvgIcon-root {
  width: 18px !important;
  height: 18px !important;
}