.css-9npbnl-MuiFormLabel-root-MuiInputLabel-root {
  font-family: 'Yu Gothic', 'YuGothic', sans-serif !important;
  font-size: 14px !important;
  font-weight: 700;
}

.update_btn {
  padding: 5px 30px !important;
  font-size: 20px !important;
  font-family: 'YuGothic', sans-serif !important;
  border-radius: 1px !important;
}