.css-sghohy-MuiButtonBase-root-MuiButton-root {
  margin-bottom: 0 !important;
}

table,
tr,
th,
td {
  border: 1px solid #ddd;
  border-collapse: collapse;
}

.calendars_month th {
  font-weight: 400 !important;
}