.date_btn {
  padding: 3px 30px !important;
  font-size: 20px !important;
  margin-top: 10px !important;
  border-radius: 1px !important;
  font-family: 'Yu Gothic', 'YuGothic', sans-serif !important;
}