@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'YuGothic';
  src: url('/fonts/yu-gothic-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  unicode-range: U+0000-002F, U+003A-0040, U+005B-0060, U+007B-3000, U+3000-30FF, U+4E00-9FFF, U+FF00-FFEF;
  font-display: swap;
}

@font-face {
  font-family: 'YuGothic';
  src: url('/fonts/yu-gothic-medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  unicode-range: U+0000-002F, U+003A-0040, U+005B-0060, U+007B-3000, U+3000-30FF, U+4E00-9FFF, U+FF00-FFEF;
  font-display: swap;
}

@font-face {
  font-family: 'YuGothic';
  src: url('/fonts/yu-gothic-semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  unicode-range: U+0000-002F, U+003A-0040, U+005B-0060, U+007B-3000, U+3000-30FF, U+4E00-9FFF, U+FF00-FFEF;
  font-display: swap;
}

@font-face {
  font-family: 'YuGothic';
  src: url('/fonts/yu-gothic-bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  unicode-range: U+0000-002F, U+003A-0040, U+005B-0060, U+007B-3000, U+3000-30FF, U+4E00-9FFF, U+FF00-FFEF;
  font-display: swap;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: #eee;
  font-family: -apple-system,
    BlinkMacSystemFont,
    "Helvetica Neue",
    "Yu Gothic",
    YuGothic,
    Verdana,
    Meiryo,
    "M+ 1p",
    sans-serif;
  font-weight: 500;
  color: #484848;
}

html {
  scroll-behavior: smooth;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.YuGothic {
  font-family: 'YuGothic', sans-serif !important;
}

table,
tr,
th,
td {
  border: 1px solid #eee;
  border-collapse: collapse;
}