.new_account_btn {
  font-size: 20px !important;
  font-family: 'Yu Gothic', 'YuGothic', sans-serif;
  padding: 3px 30px !important;
  border-radius: 1px !important;
}

.plus_sign {
  font-size: 25px !important;
  margin-right: 5px !important;
}

.account_table th {
  font-weight: 400 !important;
  font-size: 15px !important;
  background-color: #2fa8b5 !important;
  padding: 10px !important;
  color: white !important;
  font-family: YuGothic !important;
}

.account_table td {
  padding: 8px !important;
  font-family: YuGothic !important;
  font-size: 15px !important;
  text-align: center !important;
  color: black !important;
}

.account_resend_btn {
  width: 100% !important;
  background-color: #2296f3 !important;
  font-size: 13px !important;
  font-family: YuGothic !important;
  padding: 2px 0 0 !important;
  border-radius: 1px !important;
}

.account_psd_reset_btn {
  width: 100% !important;
  background-color: #29ac6d !important;
  font-size: 13px !important;
  font-family: YuGothic !important;
  padding: 2px 0 0 !important;
  border-radius: 1px !important;
}

.account_edit_btn {
  width: 100% !important;
  background-color: #ea9b54 !important;
  font-size: 13px !important;
  font-family: YuGothic !important;
  padding: 2px 0 0 !important;
  border-radius: 1px !important;
}

.account_icon {
  font-size: 15px !important;
  margin-right: 4px !important;
}