.add_btn {
  padding: 0 5px !important;
  border-radius: 2px !important;
  margin-top: 10px !important;
  min-width: auto !important;
}

.reservation_btn {
  padding: 2px 5px !important;
  border-radius: 2px !important;
  margin-top: 10px !important;
  min-width: auto !important;
  background-color: #29ac6d !important;
  line-height: 1 !important;
  font-size: 14px !important;
}

.del_btn {
  padding: 0 5px !important;
  border-radius: 2px !important;
  margin-top: 10px !important;
  min-width: auto !important;
  background-color: #e73939 !important;
  line-height: 1 !important;
  font-size: 14px !important;
  align-self: flex-end !important;
}

.css-yiavyu-MuiBackdrop-root-MuiDialog-backdrop {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  box-shadow: none;
  padding: 40px !important;
  width: 700px !important;
}

.dialog_title {
  font-family: 'YuGothic' !important;
  font-weight: 700 !important;
  border-left: 5px #35bda1 solid !important;
  padding: 0 0 0 8px !important;
}

.update_btn {
  width: 170px;
  font-size: 20px !important;
  padding: 3px 25px !important;
  margin-top: 20px !important;
  border-radius: 1px !important;
  text-align: center;
  font-family: 'YuGothic', sans-serif !important;
}