.css-h4y409-MuiList-root {
  width: 240px !important;
  padding: 0 !important;
}

.css-i4bv87-MuiSvgIcon-root {
  font-size: 1.2rem !important;
}

.css-10hburv-MuiTypography-root {
  font-size: 15px !important;
  font-family: 'Yu Gothic', 'YuGothic', sans-serif !important;
}

.icon {
  min-width: auto !important;
}

.css-1nxmd3h-MuiListItem-root {
  padding: 0.25rem 0 !important;
  font-family: 'Yu Gothic', 'YuGothic', sans-serif !important;
}

.css-cveggr-MuiListItemIcon-root {
  color: #cfd8dc !important;
  margin-right: 0.5rem !important;
}