.css-9npbnl-MuiFormLabel-root-MuiInputLabel-root {
  font-family: 'YuGothic', sans-serif !important;
  font-size: 15px !important;
  font-weight: 700;
}

.update_btn {
  width: 170px;
  font-size: 20px !important;
  padding: 3px 25px !important;
  margin-top: 20px !important;
  border-radius: 1px !important;
  text-align: center;
  font-family: 'YuGothic', sans-serif !important;
}

.ck.ck-editor {
  width: 100% !important;
}

.ck-content {
  height: 400px !important;
}

.CKEditorSkeleton {
  width: 100% !important;
  height: 440px !important;
}