.new_reservation_btn {
  font-size: 16px !important;
  font-family: 'Yu Gothic', 'YuGothic', sans-serif;
  padding: 5px 15px !important;
  border-radius: 1px !important;
}

.plus_sign {
  font-size: 20px !important;
  margin-right: 3px !important;
}