.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 4px 10px !important;
  font-size: 15px !important;
  font-family: -apple-system,
    BlinkMacSystemFont,
    "Helvetica Neue",
    "Yu Gothic",
    YuGothic,
    Verdana,
    Meiryo,
    "M+ 1p",
    sans-serif;
}

.css-6hp17o-MuiList-root-MuiMenu-list {
  padding: 0 !important;
}

.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root {
  font-size: 15px !important;
  padding-left: 10px m !important;
  font-family: -apple-system,
    BlinkMacSystemFont,
    "Helvetica Neue",
    "Yu Gothic",
    YuGothic,
    Verdana,
    Meiryo,
    "M+ 1p",
    sans-serif;
}