.reserve_th {
  background-color: #868686 !important;
  padding: 8px !important;
  font-weight: 400 !important;
  color: white !important;
  font-size: 14px !important;
}

.reserve_time {
  width: 300px !important;
}